.apparel-section {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-embed-container {
  width: 100%;
  max-width: 540px;
  margin: 1rem auto;
}

.instagram-media {
  min-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.order-link {
  margin: 1.5rem 0;
}

.order-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 0.5rem;
  background-color: #f5f2f0;
  color: black;
  border: 4px solid black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.order-button:hover {
  color:  #f5f2f0;
  background-color: black;
  border: 4px solid black;
}

.apparel-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1200px;
  padding: 0 1rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apparel-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.image-caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
  text-align: center;
}


@media (max-width: 768px) {
  .apparel-gallery {
    gap: 1rem;
  }
  
  .apparel-image {
    width: 150px;
    height: 150px;
  }
}

.merch-category {
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1200px;
  padding: 0 1rem;
}

.apparel-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -1rem;
  max-width: 1200px;
  padding: 0 1rem;
}

.apparel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp25-apparel-cover {
  margin-top: 0.5rem;
  width: 300px;
  height: 325px;
  object-fit: cover;
  border: 3px solid #f35050;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out
}

.dtj-apparel-cover {
  margin-top: 0.5rem;
  width: 300px;
  height: 325px;
  object-fit: cover;
  border: 3px solid var(--blue);
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out
}