/* Events Section */
.events-section {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 8rem 0.25rem;
    padding-top: 12rem;
    background-color: var(--yellow);
    text-align: center;
}

.events-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/textures/grain.png);
    opacity: 0.1;
}


/* Events Section Title */
.events-title {
    position: relative;
    width: fit-content;
    font-size: 2rem;
    font-weight: 800;
    margin: -6rem auto 4rem auto;
}

.events-title:after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--yellow);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}


/* Events Container */
.events-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Event Card Grid */
.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 4rem;
    justify-items: center;
}

.event-card {
    background-color: var(--yellow);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    text-align: left;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
}

.event-card-title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.event-description-separator {
    margin-bottom: 1rem;
    text-align: center;
}

.event-card a {
    display: flex;
    justify-content: center;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(gray);
}


/* Info and Links */
.events-section a {
    color: var(--white);
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    transition: all 0.1s;
}

.events-section a:hover {
    color: var(--yellow);
    text-shadow: 0 0 5px black;
}

.events-info {
    padding: 0rem;
}

.events-info p {
    margin: 0.5rem 0;
}

.events-button {
    position: relative;
    padding: 0.75rem;
    color: white;
    background-color: var(--black);
    border: 2px;
    border-radius: 5px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.events-button:hover {
    color: var(--black);
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px white;
}


/* Calendar */
.events-calendar {
    width: 800px;
    max-width: 100%;
    height: 600px;
    border: none;
}

.events-calendar-title {
    position: relative;
    width: fit-content;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto 2rem auto;
}